*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: monospace;
    font-family: 'Montserrat', sans-serif;
}

.main-container{
    text-align: center;
    color: #fff;
    position: relative;
    background: rgba(0,0,0,0.6);
}


.main-container h1{
    font-size: clamp(30px, 5vw, 70px);
    font-weight: 400;
    margin: 80px 80px 50px 80px;
    letter-spacing: 2px;
}

.main-container p{
    font-size: min(3vw, 20px);
    font-weight: 400;
    letter-spacing: 2px;
    margin-bottom: 30px;
    animation: move 1.25s ease;
    animation-fill-mode: forwards;
    opacity: 0;
    animation-delay: 1s;
}

.main-container:hover{

    background: transparent;
    transition: 300ms ease;
}


@keyframes move{
    from { transform: translateY(50px);
    opacity: 0; }
    to { transform: translateY(0px);
    opacity: 1; }
}
